/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /*
  Custom font
  */

  @font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff'),
         url('../fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Roboto Italic';
    font-weight: 300;
    src: url('../fonts/roboto-italic-variablefont_wdthwght-webfont.woff') format('woff'),
         url('../fonts/roboto-italic-variablefont_wdthwght-webfont.woff2') format('woff2');
  }

  /*
  Project
  */

  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 600;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
  }

  .sidebar {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    color: white;
    background-color: rgb(79, 139, 218);
    padding-left: 5%;
  }

  .side-menu-top div {
    display: flex;
    align-items: center; 
    gap: 10px; 
    padding: 10px;
  }

  .side-menu-top div i {
    font-size: 22px; 
  }

  .side-menu-bottom div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .side-menu-bottom div i {
    font-size: 22px;
  }

  .header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 1px solid red;
  }

  .header-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .nav > ul {
    list-style-type: none;
  }
  
  .material-icons {
    font-size: 22px;
    color: white;
    padding-right: 3%;
    padding-left: 2%;
  }

  #dash {
    font-size: 40px;
  }

  

